
<div class="announceContainer">
  <p class="annouceContent">
    {% if section.settings.announceId != blank %}  
    {{ section.settings.announceId }}
  {% endif %}
  </p>
</div>



{% style %}
  .announceContainer{
    width: 100%;
    background-color: #010101;
    
}
.annouceContent{
    margin: 0;
    padding: .5rem;
    text-align: center;
    color: #ffffff;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Announce Experiment",
    "settings": [
      {
        "type": "text",
        "id": "announceId",
        "label": "Announce Text",
        "default": "Insert your Announce Text here"
      }
    ],
    "presets": [
      {
        "name": "custom-text",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

