{{'grid-cat-styles.css' | asset_url | stylesheet_tag }}

<div class="hero">
    <div class="hero-content">
        <h2 class="banner-heading">
            Le Glassure`
        </h2>
        <p class="hero-description">
            Eleganto De Glass Vi Classico Masulo Italia. Descripi Establishi Ze 1987.
        </p>
        <button class="cta">
            Shop all
        </button>
    </div>
</div>
<div class="container">
    <div class="main-product">Main Product</div>
    <div class="small-product1">Small Product 1</div>
    <div class="small-product2">Small Product 2</div>