<div class="page-width">
    <h1 class="alert alert-primary" role="alert"> {{- section.settings.jalibuId -}} </h1>

    <p> {{- section.settings.jalibuParagraph -}} </p>
</div>


{%- style -%}
    .AirBnB{
        background-color: darkturquoise;
    }

{%- endstyle -%}




{% schema %}
{
  "name": "Jalibu Sectioni",
  "tag": "section",
  "class": "AirBnB",
  "settings": [
    {
      "type": "text",
      "id": "jalibuId",
      "label": "JalibuHeader"
    },
    {
        "type": "text",
        "id": "jalibuParagraph",
        "label": "Jalibu Paragraph"
      }
  ]
}
{% endschema %}
