<div class="page-width">
    <h1>This is a JALIBU section</h1>

    <p>Eno JALIBU section boyi Wange</p>
</div>

{%- style -%}
    .AirBnB{
        background-color: darkturquoise;
    }

{%- endstyle -%}




{% schema %}
{
  "name": "Jalibu Sectioni",
  "tag": "section",
  "class": "AirBnB"
}
{% endschema %}
