

{%style%}
.custom_text_title{
    background: red;
    color: #334FB5;
}

{%endstyle%}

<div class="custom-text-section page-width">
    <h2> {{ section.settings.custom_text_title }} </h2>
    <div>{{ section.settings.custom_text_body }}</div>
    <div> <img src="{{ section.settings.image_uploader | img_url: '500x500' }}" /> </div>
    <div>{% if section.settings.show_announcement == true %}
        {{page.title}
      {% endif %} </div>

    
    
  
  {% schema %}
    {
      "name": "Text Box",
      "settings": [
        {
          "id": "custom_text_title",
          "type": "text",
          "label": "Text box heading",
          "default": "Title"
        },
        {
          "id": "custom_text_body",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        },
        {
          "id": "image_uploader",
          "type": "image_picker",
          "label": "Add your image here"
        },
        {
            "type": "checkbox",
            "id": "show_announcement",
            "label": "Show announcement",
            "default": true
          }
          
      ],
      "presets": [
        {
          "name": "custom-text",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}