<h2>{{ section.settings.section_title | escape }}</h2>
{{ section.settings.text }}
{{ section.settings.imagePickerOne | image_url: width: 400, height: 400 }}


{% schema %}
{
  "name": "Two Image Banner",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "image_picker",
      "id": "imagePickerOne",
      "label": "Image for this section"
    }
  ],
  "presets": [
    {
      "name": "Two Image Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}